@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  border: 1px solid;
  outline: 1px solid;
  color: white;
  outline-color: white;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 550ms cubic-bezier(.36, .63, .5, .73);

}

.btn:hover {
  border: 1px solid black;
  outline-color: #1b272700;
  outline-offset: 15px;
  color: black;
  background-color: #b2c5b2c8;
}

.gradient,
.active {
  background: linear-gradient(
    310deg,
    #B2C5B2 11.43%,
    #6B8E4E 50.63%,
    #3C5148 100%,
    #1B2727 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

.icon-box {
  position: relative;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  overflow: hidden;
}

.icon-box::before {
  position: absolute;
  content: '';
  inset: -1px 14px;
  background: linear-gradient(315deg, #07e182, #c3e9a4);
  transition: 0.3s;
  animation: animate 4s linear infinite;
}

.icon-box:hover {
  cursor: pointer;
}

.icon-box:hover::before {
  inset: -2px 0px;
}

@keyframes animate {
  0%
  {
    transform: rotate(0deg)
  }
  100%
  {
    transform: rotate(360deg)
  }

}

.icon-box::after {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #1B2727;
  border-radius: 50%;
  z-index: 1;
}

.icon-content {
  position: absolute;
  inset: 2px;
  z-index: 3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  border: 2px solid black;
  box-shadow: 5px 10px 5px 5px #1B2727;
  animation: animate2 5s ease-in-out infinite;
}

@keyframes animate2 {
  0%, 100%{
    border-radius: 50% 40% 30% 70% / 50% 30% 70% 40%
  }
  50%{
    border-radius: 40% 60% 70% 40% / 50% 60% 30% 60%
  }
}

@layer base {
  body {
    @apply text-lg leading-8 text-primary font-secondary;
  }
  .h2 {
    @apply font-bold text-transparent bg-clip-text bg-gradient-to-br from-[#b5f77e] to-[#B2C5B2] text-[32px] lg:text-[46px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-tertiary text-[18px] mb-6 leading-[32px];
  }
  .btn {
    @apply font-medium text-white rounded-full font-primary;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply font-bold text-transparent bg-gradient-to-br bg-clip-text from-[#a5bb82] to-[#B2C5B2] font-primary;
  }
  .section {
    @apply flex items-center py-8 lg:py-24 lg:h-screen;
  }
}
