@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  border: 1px solid;
  outline: 1px solid;
  color: white;
  outline-color: white;
  outline-offset: 0px;
  text-shadow: none;
  transition: all 550ms cubic-bezier(.36, .63, .5, .73);

}

.btn:hover {
  border: 1px solid black;
  outline-color: #1b272700;
  outline-offset: 15px;
  color: black;
  background-color: #b2c5b2c8;
}

.gradient,
.active {
  background: linear-gradient(
    310deg,
    #B2C5B2 11.43%,
    #6B8E4E 50.63%,
    #3C5148 100%,
    #1B2727 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

.icon-box {
  position: relative;
  background: rgba(0,0,0,0.5);
  border-radius: 50%;
  overflow: hidden;
}

.icon-box::before {
  position: absolute;
  content: '';
  inset: -1px 14px;
  background: linear-gradient(315deg, #07e182, #c3e9a4);
  transition: 0.3s;
  animation: animate 4s linear infinite;
}

.icon-box:hover {
  cursor: pointer;
}

.icon-box:hover::before {
  inset: -2px 0px;
}

@keyframes animate {
  0%
  {
    transform: rotate(0deg)
  }
  100%
  {
    transform: rotate(360deg)
  }

}

.icon-box::after {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: #1B2727;
  border-radius: 50%;
  z-index: 1;
}

.icon-content {
  position: absolute;
  inset: 2px;
  z-index: 3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  border: 2px solid black;
  box-shadow: 5px 10px 5px 5px #1B2727;
  animation: animate2 5s ease-in-out infinite;
}

@keyframes animate2 {
  0%, 100%{
    border-radius: 50% 40% 30% 70% / 50% 30% 70% 40%
  }
  50%{
    border-radius: 40% 60% 70% 40% / 50% 60% 30% 60%
  }
}
/* .avatar-content a {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
} */

/* .avatar-box:hover .avatar-content img {
  opacity: 0;
}

.avatar-content h2 {
  position: relative;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.avatar-content h2 span {
  font-weight: 300;
  font-size: 0.75em;
} */

/* .avatar-content a {
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  background: #fff;
  color: #070a1c;
  border-radius: 25px;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.5s;
} */

/* .avatar-content Link:hover {
  letter-spacing: 0.2em
} */

@layer base {
  body {
    @apply text-lg leading-8 text-white font-secondary;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply font-medium text-white rounded-full font-primary;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply font-bold text-transparent bg-gradient-to-br bg-clip-text from-bg3 via-bg2 to-bg1 font-primary hover:from-bg1 hover:via-bg2 hover:to-bg3;
  }
  .section {
    @apply flex items-center py-8 lg:py-24 lg:h-screen;
  }
}
